# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================================
# .NET / C# / Visual Studio
# ==========================================

# Build & fordítási kimenetek
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# Visual Studio ideiglenes és felhasználói beállításfájlok
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Tesztelési és kódlefedettségi riportok
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Publish kimenetek és deployment profilok
publish/
*.Publish.xml
*.pubxml
*.azurePubxml

# NuGet csomagok és cache
*.nupkg
*.snupkg
packages/
!packages/build/

# Lokális konfigurációk és érzékeny beállítások
appsettings.Local.json
secrets.json

# IDE beállítások (JetBrains Rider & VS Code)
.idea/
*.DotSettings.user
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

